.home {
  background: radial-gradient(white, #ffff00);
}

.progress-script {
  width: 300px;
  margin: 0 auto;
}

.upload-icon {
  font-size: 50px;
  vertical-align: middle;
}

.script-area {
  min-height: 350px;
}

.play {
  display: inline;
  vertical-align: middle;
}

.nodecoration { text-decoration: none !important; }
