<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-xs-12 text-center" style="border: 2px solid #ededed">

      <uib-tabset active="activeJustified" justified="true">
        <h3 class="pull-left">
          <i class="glyphicon glyphicon-user"></i>
          <span ng-show="!(user.name == null || user.name == '')">{{ user.name }}</span>
        </h3>

        <br><br>
        <br><br>

        <uib-tab index="0" heading="My Script" ng-click="showScripts()">

          <table class="table table-striped">
            <thead>
              <td><i class="glyphicon glyphicon-user"></i> User</td>
              <td><i class="fa fa-code" aria-hidden="true"></i> Script</td>
              <td>Date</td>
            </thead>
            <tbody>
              <tr ng-repeat="script in scripts track by $index">
                <td>{{ script.owner }}</td>
                <td>
                  <b class="text-primary">{{ script.path }}</b>
                  &nbsp;
                  <form method="POST" action="agentsim/livesim" target="_blank" class="inline">
                    <input type="hidden" name="path" ng-value="script.path">
                    <button type="submit" class="text-success play-button">
                      <i class="glyphicon glyphicon-play-circle"></i>
                    </button>
                  </form>
                  &nbsp;
                  <h4 class="text-info play">
                    <i class="glyphicon glyphicon-edit"></i>
                  </h4>
                </td>
                <td>{{ script.creation.getDate() + "/" + script.creation.getMonth() + "/" + script.creation.getFullYear() }}</td>
              </tr>
            </tobdy>
          </table>

        </uib-tab>

        <uib-tab index="1" heading="Modify script">
          <br>

          <form ng-submit="uploadScript(scriptName, script)">
            <div class="form-inline">
              <label><h4>Name:</h4></label>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="scriptName" placeholder="name of the script.." required>
              </div>
            </div>

            <br>
            <textarea class="form-control script-area" ng-model="script" required></textarea>

            <br><br>
            <button type="submit" class="btn btn-md btn-success">Upload script</button>
          </form>

          <br><br>

        </uib-tab>

      </uib-tabset>

    </div>
  </div>
</div>
